################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureFaceAPIResultViewer/bin
/AzureFaceAPIResultViewer/obj
/AzureFaceAPISample/bin
/AzureFaceAPISample/obj
/Common/bin
/Common/obj
/packages
/RealTimeMessageBroker/bin
/RealTimeMessageBroker/obj
